nextflow.enable.dsl = 2

params {
    // Base Configuration
    data_dir    = "${launchDir}/data"
    results_dir = "${launchDir}/results"

    run_get_wormbase_papers    = false
    run_get_gene_ontology_data = false

    params.wormbase_version = 'WS291'

    // GET WORMBASE BATCHES PARAMS
    params.number_of_batches = 10
}