nextflow.enable.dsl = 2

params {
    // Base Configuration
    data_dir    = "${launchDir}/data"
    results_dir = "${launchDir}/results"
    publish_dir = "${launchDir}/results/PUBLISH_DIR_NOT_SET"

    run_get_wormbase_papers    = false
    run_get_pub_med_ids        = false
    run_get_gene_ontology_data = false
    run_get_pmid_summary       = false

    wormbase_version = 'WS291'

    // GET WORMBASE BATCHES PARAMS
    number_of_batches = 10
    
    unique_wbp_id = 'wbp_id'

    // Stage Wormbase DB Files
    reference_papers_csv   = "wb_reference_papers.csv"
    pubmed_ids_csv         = "wb_pubmed_ids.csv"
    gene_ontology_data_csv = "wb_gene_ontology_data.csv"
    pmid_summary_csv       = "wb_pmid_summary.csv"
}