// Params for this run of get reference papers

params {
    
    
    run_get_wormbase_papers = true
    params.number_of_batches = 10
    publish_dir = "${launchDir}/results/references"

    run_get_pubmed_ids     = false
    // params.number_of_batches = 60
    // publish_dir = "${launchDir}/results/pubmed_ids"

}