// Params for this run of get reference papers

params {
    
    
    //run_get_wormbase_papers = false
    //params.number_of_batches = 10
    //publish_dir = "${launchDir}/results/references"

    //run_get_pubmed_ids       = true
    //params.number_of_batches = 10
    //publish_dir              = "${launchDir}/results/pubmed_ids"

    run_get_pmid_summary = true
    params.number_of_batches = 20
    publish_dir = "${launchDir}/results/pmid_summary"
    pubmed_ids_path ="${launchDir}/results/pubmed_ids/wb_pubmed_ids.csv"

}